{% extends "base.html.twig" %}

{% block title %}Liste des pizzerias{% endblock %}

{% block titrePage %}
    {{ pizzeria.nom }}
{% endblock %}

{% block body %}
   <table>
        <tr>
            <th>Les pizzas</th>
            <th>Prix</th>
            <th></th>
        </tr>
        {% for pizza in pizzas %}
            <tr>
                <td>{{ pizza.nom }}</td>
                <td>
                    {{ pizza.prixPizza }} €
                </td>
                <td>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
