{% extends "base.html.twig" %}

{% block title %}
{% endblock %}

{% block titrePage %}<p>La pizza {{ pizza.nom }}</p>{% endblock %}

{% block body %}
    {% set ingredientsPizza = pizza.quantiteIngredients %}
    <p>Le prix de fabrication : {{ pizza.prixPizza }} €</p>
    <p>ingredients :
        {% for ingredientPizza in ingredientsPizza %}
            {{ ingredientPizza.ingredient.nom }},
        {% endfor %}
    </p>
{% endblock %}