{% extends "base.html.twig" %}

{% block title %}
{% endblock %}

{% block titrePage %}<p>La pizza {{ pizza.nom }}</p>{% endblock %}

{% block body %}
    <p>Le prix de fabrication : {{ prix }} €</p>
    <p>ingredients :
        {% for nomIngredient in nomIngredients %}
            {{ nomIngredient }},
        {% endfor %}
    </p>
{% endblock %}